* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
}

html, body, {
  height: 100%;
}

/*.....start Header.....*/

header {
  Height: 82px;
  display: flex;
  margin: 0px 110px;
  flex-direction: column;
}

.ofertas {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px 0px 15px;
}

.nav-1 {
  list-style-type: none;
  Height: 20px;
  display: flex;
  justify-content: end;
  text-align: center;
}

li {
  padding: 0px 10px;
}

.logo {
  background-color: #f0a83e;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  Height: 62px;
}

.fa-paw {
  height: 1px;
}

.img-1 {
  width: 166px;
  height: 25px;
}

/*.....Menu hamburguesa Oculta.....*/

.fa-bars {
  display: none;
}

/*.....Menu hamburguesa Oculta.....*/

.nav-2 {
  list-style-type: none;
  width: 450px;
  display: flex;
  justify-content: space-around;
}

li, a {
  text-decoration: none;
  color: rgb(248, 247, 247);
}

/*.....End Header.....*/

/*.....Start Main.....*/

main {
  margin: 0px 100px;
}

section {
  margin-bottom: 50px;
}

.banner {
  background-image: url("../img/banner.png");
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  margin: 0px 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.textos {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  padding-right: 15px;
}

.t-1 {
  font-size: 35px;
  background-color: white;
  color: #3c2313;
  font-weight: bold;
  border-radius: 6px;
  width: 410px;
  height: 54px;
}

.boton {
  background-color: #f0a83e;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20px;
  border-radius: 6px;
  width: 141px;
  height: 50px;
  border-style: none;
}

.lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

h1 {
  font-size: 40px;
}

.nav-3 {
  display: flex;
  width: 300px;
  list-style-type: none;
  justify-content: space-around;
}

.a-nav3 {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.img-prod {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.comederos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.valor {
  color: #f0a83e;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacta {
  color: #3c2313;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 340px;
  height: 38px;
  background-color: #3C2313;
  color: white;
  border-radius: 15px;
}

button {
  height: 35px;
  width: 100px;
  margin: 8px;
  color: white;
  background-color: #8A8787;
  border-radius: 16px;
}

.env {
  background-color: #F0A83E;
}

button:hover {
  background-color: white;
  color: black;
}

/*.....End Main.....*/

/*.....start Footer.....*/

footer {
  margin: 0px 100px;
  margin-top: 0px;
  background-color: #3c2313;
  height: 100%;
}

.abajo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #F0A83E;
  height: 60px;
  font-size: 20px;
  color: white;
  padding-left: 15px;
}

.nav-5 {
  margin: 0px 15px 0px 30px;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 5px;
}

.vacio {
  background-color: white;
  height: 40px;
  border-radius: 8px;
}

.sub {
  background-color: #3C2313;
  border-radius: 8px;
}

.pie-1 {
  display: flex;
  padding-right: 10px;
  height: 200px;
}

.nav20 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

ul {
  list-style-type: none;
}

.nav21 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  margin-top: 20px;
}

.fa-map-marker-alt {
  color: white;
  padding-left: 20px;
  padding-top: 25px;
  font-size: 50px;
}

.txt-pie {
  color: white;
  font-size: x-large;
  margin-bottom: 5px;
}

.pequeño {
  color: white;
  font-size: small;
}

#derechos {
  background-color: #f0a83e;
  text-align: center;
}

/*.....End Footer.....*/

@media (max-width: 1024px) {
  header, main, .banner, footer {
    margin: 0px;
  }
  .nav-2 {
    display: none;
  }
  .fa-bars {
    display: block;
    color: white;
    font-size: 30px;
  }
  h1 {
    font-size: 35px;
  }
  .abajo {
    height: 100px;
    justify-content: space-around;
    align-items: center;
  }
  .suscriptor {
    font-size: 30px;
  }
}

@media (max-width: 450px) {
  .abajo {
    height: 160px;
  }
  .suscriptor {
    font-size: 20px;
  }
  .nav-5 {
    margin: 0px 15px 0px 30px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
  }
  .sub {
    margin-top: 15px;
  }
}